In [1]:
import pandas as pd

In [2]:
# Leer el conjunto de datos 
df = pd.read_csv('hour.csv')

In [3]:
# Seleccionar las columnas 
columnas_evaluar = ['season', 'holiday', 'weekday', 'workingday', 'weathersit']
subset_df = df[columnas_evaluar]

In [5]:
subset_df

       season  holiday  weekday  workingday  weathersit
0           1        0        6           0           1
1           1        0        6           0           1
2           1        0        6           0           1
3           1        0        6           0           1
4           1        0        6           0           1
...       ...      ...      ...         ...         ...
17374       1        0        1           1           2
17375       1        0        1           1           2
17376       1        0        1           1           1
17377       1        0        1           1           1
17378       1        0        1           1           1

[17379 rows x 5 columns]

In [6]:
# Calcular la tabla de contingencia
contingency_table = pd.crosstab(subset_df['season'], [subset_df['holiday'], subset_df['weekday'], subset_df['workingday'], subset_df['weathersit']])

In [7]:
# Mostrar tabla de contingencia
print("Tabla de contingencia:")
print(contingency_table)

Tabla de contingencia:
holiday       0                                          ...   1             \
weekday       0             1                2           ...   1      2
workingday    0             1                1           ...   0      0
weathersit    1    2   3    1    2   3  4    1    2   3  ...   2   3  1   2
season                                                   ...
1           451  156  31  314  121  35  1  353  162  33  ...  46  12  6  16
2           405  169  49  342  172  58  0  374  185  65  ...   7   0  0   0
3           481   94  42  405  125  21  0  475  125  47  ...  39   4  0   0
4           428  149  47  299  194  35  0  314  206  91  ...  22   5  0   0

holiday
weekday         3      4   5
workingday      0      0   0
weathersit  3   1  2   1   1  2
season
1           1   0  0   0   0  0
2           0   0  0   0  18  6
3           0  23  1   0   0  0
4           0   0  0  48  24  0

[4 rows x 35 columns]

In [9]:
contingency_table.to_excel('tabla_contingencia.xlsx')

In [10]:
columnas_correlaccion = ['season', 'holiday', 'weekday', 'workingday', 'weathersit', 'cnt']
subset_df = df[columnas_correlaccion]

In [11]:
# Calcular la matriz de correlación
correlation_matrix = subset_df.corr()

In [13]:
print("Correlación entre los atributos discretos y la clase:")
print(correlation_matrix['cnt'].drop('cnt'))

Correlación entre los atributos discretos y la clase:
season        0.178056
holiday      -0.030927
weekday       0.026900
workingday    0.030284
weathersit   -0.142426
Name: cnt, dtype: float64